node_modules/
__pycache__/
*.py[cod]
*.so
.Python
env/
.venv/
build/
develop-eggs/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg
htmlcov/
.tox/
.pytest_cache/
.coverage
.cache
coverage.xml
docs/_build/
.vscode/
